footer {
    margin-top: 80px;
    margin-right: 200px;
    padding-bottom: 80px;
    background-color: #fefac0;
    opacity: .68;
}

.name {
    padding-top: 20px;
}

.bottom{
    margin-right: 400px;
    margin-left: 400px
}